

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;300;400;600;700;800;900&display=swap');


.ant-divider-inner-text {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
   
}

.form-label-container h3 {
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    align-items: center;
    color : black;
    align-self: center;
 
}

.mood-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-label-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    
}

.form-label {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
    

}

.alertModal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}