
.mood-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form-label{
    color:azure;
    font-size: 30px;
}