

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;300;400;600;700;800;900&display=swap');


.ant-divider-inner-text {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
   
}
.form-label-container{
    margin:5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.form-label-container h3 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    align-items: center;
    color : black;
 
}
.mood-wrapper{
    /* background-image: linear-gradient(to bottom,#DA6085, #D7EDE1);  */
    /* background-image: linear-gradient(to bottom,#9796F0, #FBC7D4);  */
    /* background-image: linear-gradient(to bottom,#E5CDC3, #6047E0); */
    /* background-image: linear-gradient(to bottom,#4B6CB7, #182848);  */
 
}
.mood-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.form-label-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form-label{
    color:azure;
    font-size: 30px;
}