
#moodCard {
  width: 260px;
  height: 200px;
  margin-top: 16px;
  margin-bottom: 50px;
  box-shadow: var(--card-box-shadow);

  }
 .avatar-container{
  display: flex;
  justify-content: center;
    align-items: center;
 }
  .avatar{
    height: 100px;
    width: 100px;
  }

.selectedOption1 {
  background-color: var(--stressed);
}
.selectedOption2 {
  background-color: var(--sad);
}
.selectedOption3 {
  background-color: var(--chilled);
}
.selectedOption4 {
  background-color: var(--happy);
}
.selectedOption5 {
  background-color: var(--overjoyed);
}
