#clear-btn{
    background-color: #131C85; 
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 2rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

 #clear-btn:hover{
  background-color: #8278D9;
  box-shadow:  var(--card-box-shadow);
  }