:root {
  --chilled: #e6f8b2;
  --sad: #7a9cc6;
  --overjoyed: #f06c9b;
  --happy: #ffe66d;
  --stressed: #d90429;
}

select option:nth-child(2) {
  background-color: var(--stressed);
}

select option:nth-child(3) {
  background-color: var(--sad);
}

select option:nth-child(4) {
  background-color: var(--chilled);
}
select option:nth-child(5) {
  background-color: var(--happy);
}
select option:nth-child(6) {
  background-color: var(--overjoyed);
}

.selectedOption1 {
  background-color: var(--stressed);
}
.selectedOption2 {
  background-color:var(--sad);
}
.selectedOption3 {
  background-color:var(--chilled);
}
.selectedOption4 {
  background-color:var(--happy);
}
.selectedOption5{
  background-color: var(--overjoyed);
}
