.buttonLink {
    background-color: #9381ff !important;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.buttonLink:hover {
    background-color: #b8b8ff !important;
    color: white !important;
    border-color: #9381ff !important;
    box-shadow: 5px 10px 10px #bebebec2 !important; 
}

.shadow { mix-blend-mode: multiply; }